.about{
    min-height: 100vh;
    max-width: 1200px;
    margin: 50px auto 0;
}

.text_content{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    
}
.about__subtitle{
    font-size: 24px;
    padding-bottom: 10px;
}
.about__content {
    margin: 10px 20px; 
    max-width: 600px; 
}
.about__content p {
    padding: 10px;
   
}
.text_content p{

}
.about__img{
    max-width: 600px;
    max-height: 400px;
    object-fit: cover;
}
@media(max-width: 767px){
    .text_content{
        flex-direction: column;
    }
    .about__content{
        margin: 10px 0;
    }
    .about__img{
        width: 100%;
    }
    .img__two{
        flex-direction: column-reverse;
    }
}