.App{
  background-color: rgb(22, 22, 22);
}
.page {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0;
}

.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}